<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="style2.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
<!-- NAVBAR -->
    <nav id="navbar">
        <h2 class="logo">Med<span>Alert📌</span></h2>
        <ul>
          <li><a href="layout.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#"><span>Contact Us</span></a></li>
          <li><a href="#">Services</a></li>
        </ul>
    </nav>
<!-- NAVBAR -->

    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">Bhopal,Sehore</div>
            <div class="text-two">VIT Bhopal </div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0011 2233 4455</div>
            <div class="text-two">+0011 2233 4567</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">MedAlert@gmail.com</div>
            <div class="text-two">info.MedAlert@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>
            If you have any issue or quries related to this
            website, you can send us message from here. It's our pleasure to
            help you.
          </p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name" />
            </div>
            <div class="input-box">
              <input type="email" placeholder="Enter your email" />
            </div>
            <div class="input-box message-box">
                <input type="text" placeholder="Write your message" minlength="10" maxlength="50"/>
            </div>
             <div class="Send">
              <button type="submit" onclick="openPopup()">Send now</button>
              <div class="popup" id="popup">
                <img src="img/tick.jpg">
                <h2>Thank You!</h2>
                <p>Your details has been successfully submited. Thanks! </p>
                <button type="button" onclick="closePopup()">OK</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    let popup = document.getElementById("popup");


    function openPopup() {
      popup.classList.add("open-popup");

    }
    function closePopup() {
      popup.classList.remove("open-popup");

    }
  </script>

</body>

</html>
