{% extends "medalert/layout.html" %}

{% block body %}
    <div class="banner-container">
         <div class="heading">How may I help you ?</div>
        <div class="sub-heading">"MedAlert will get the help you need, right here, right now."</div>
        <div class="home-actions">
            <button class="login-button">
                {% if user.is_authenticated %}
                    <a class="link" href="#">CHAT NOW</a>
                {% else %}
                    <a class="link" href="{% url 'register' %}">CHAT NOW</a>
                {% endif %}
            </button>
        </div>
    </div>
{% endblock %}
