{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width-device=width, intial-scale=1">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <title class="title">{% block title %}MedAlert{% endblock %}</title>
    </head>

    <body>
        <div class="hero">
            <nav>
                <h2 class="logo">Med<span>Alert📌</span></h2>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                </ul>
                <div>
                    {% if user.is_authenticated %}
                        <button type="button" class="login-button"><a href="{% url 'logout' %}">Log Out</a></button>
                    {% else %}
                        <button type="button" class="login-button"><a href="{% url 'login' %}">Login</a></button>
                        <button type="button" class="login-button"><a href="{% url 'register' %}">Register</a></button>
                    {% endif %}
                </div>
            </nav>
            <div class="container">
                <div class="content">
                    <div class="right-side">
                        <div class="topic-text">Login</div>
                        <form action="{% url 'login' %}" method="POST">
                            {% if message %}
                                <div class="nav justify-content-center">
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endif %}
                            {% csrf_token %}
                            <div class="input-box">
                                <input type="text" name="username" placeholder="Enter your name" />
                              </div>
                              <div class="input-box">
                                <input type="password" name="password" placeholder="Enter your password" />
                              </div>
                            <button type="submit" class="send-btn">Submit</button>  
                            <div class="horizontal">
                                <div class="or">or</div>
                            </div>
                            <a href="{% provider_login_url 'google' %}"><img src="{% static 'google-signin-button.jpg' %}" alt="googlebutton" style="height: 90px; width: 70%; margin-left: 15%; margin-top: 20px;"></a>
                        </form>
                    </div>
                </div>   
            </div>        
        </div>
       
    </body>
   
