
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin-Sans', sans-serif;
  }

  body, html {
    height: 100%;
    margin: 0;
  }

  .login--wrapper {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .form {
    width: 600px;
    align-items: center;
  }


  .register {
    text-align: center;
    color: #ea1358;
  }

  .hero {
    background-image: linear-gradient(rgb(192 182 20 / 93%), rgba(255, 255, 255, 0.821)), url('background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    height: 100%;
    width: 100%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .logo {
    color: white;
    font-size: 28px;
  }

  
  .heading {
    color: rgb(44, 43, 42);
    font-size: 48px;
    text-align: left;
    margin-left: 22px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 60px;
  }

  .login-button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  span {
    color: #ea1358;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }

  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {

    color: #173a3f;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    transition: .3s;
    text-decoration: none;
  }

.login-button {
  border: none;
  margin-left: 10px;
  background: #deca0d;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

.login-button:hover {
  transform: scale(1.3);
  cursor: pointer;
  border: none;
}

.submit-btn {
  border: none;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  background: #173a3f;
  padding: 12px 35px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

.container {
  height: 70%;
}

.submit-btn:hover {
  transform: scale(1.3);
  cursor: pointer;
}
    
  .chat-button{
    background: linear-gradient(90deg, #302664 0, #513D87 100%);
  }

  .form-label {
    color: rgb(255, 255, 255);
    margin-top: 15px;
  }
  
  
  .banner-container {
    width: 45%;
    position: relative;
    top: 190px;
    left: 120px;
  }
 
   .sub-heading {
    font-size: 26px;
    color: #5f5959;
    text-align: left;
    margin-bottom: 35px;
    font-weight: 300;
    padding-left: 20px;
  }

  .about {
    background-image: linear-gradient(rgb(192 182 20 / 93%), rgba(255, 255, 255, 0.821)), url('background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    height: 130%;
    width: 100%;
  }

  #clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 900px;
    padding-top: 590px;
}


#clients img {
    height: 124px;
}

#clients img:hover {
    cursor: pointer;

}

.client-item {
    padding: 18px;
}
  

  #home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    height: 100px;
    top: 0px;
    align-items: center;
}

.h-primary {
  padding: 12px;
  position: absolute;
  top: 210px;
  color: rgb(54, 50, 50);
  justify-content: center;
  font-size: 40px;
  padding-top: 50px;
}


h3 {
  color: rgb(54, 50, 50);
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 180px;
  
}


p {
  padding: 128px;
  padding-left: 147px;
  padding-right: 153px;
  margin: 2px 110px;
  border-radius: 28px;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(134, 119, 119);
}

/* Service Section */
#services {
  display: flex;
  margin: 34px;
  position: absolute;
  top: 650px;
  
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: -300px 255px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
  display: flexbox;
  width: 1030px;
  height: 336px;
  position: absolute;
  left: -80px;
}

#services .box img {
  height: 160px;
  width: 200px;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: Bradley Hand, cursive;
  color: black;
  /* position: absolute;
  top: -20px;
  text-align: justify;
  justify-content: center;
  font-size: 25px; */

  padding: 23px;
  margin: -20px 100px;
  font-size: 25px;
  margin-bottom: 20px;
  display: flexbox;
  width: 1020px;
  
  position: absolute;
  left: -80px;
}

/* Clients section  */
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#client-section {
  height: 344px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;

}



#clients img {
  height: 124px;
}

#clients img:hover {
  cursor: pointer;

}

.client-item {
  padding: 18px;
}

.media {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

footer {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
